<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.playdate.app">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayDate"
        android:usesCleartextTraffic="true">


        <!-- fb start -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        -->
        <!-- fb end -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity android:name=".ui.date.IntroScreen">

        </activity>
        <activity
            android:name=".ui.anonymous_question.AnonymousQuestionActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".ui.date.SelectPartner">

        </activity>
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.otp.OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.relationship.RelationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.age_verification.AgeVerifiationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.interestin.InterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.username.UserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.bio.BioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.interest.InterestActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.playvideo.ExoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.profile.UploadProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgot_password.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.GetStarted"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.coupons.ActivityCoupons" />
        <activity android:name=".ui.chat.ChatActivity" />
        <activity
            android:name=".util.customcamera.otalia.VideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.customcamera.otalia.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.restaurant.RestaurantActivity"
            android:screenOrientation="portrait" />
      <!--  <activity
            android:name=".ui.playvideo.VideoPlayActivity"
            android:screenOrientation="portrait" />-->
        <activity
            android:name=".ui.anonymous_question.AnoQuesCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.social.upload_media.PostMediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.usertype.UserTypeSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.gender.GenderSelActivity"
            android:screenOrientation="portrait" />
        <!--   <service
               android:name=".java.MyFirebaseMessagingService"
               android:exported="false">
               <intent-filter>
                   <action android:name="com.google.firebase.MESSAGING_EVENT" />
               </intent-filter>
           </service>
           &lt;!&ndash; Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. &ndash;&gt;
           <meta-data
               android:name="com.google.firebase.messaging.default_notification_icon"
               android:resource="@drawable/ic_stat_ic_notification" />
           &lt;!&ndash; Set color used with incoming notification messages. This is used when no color is set for the incoming
                notification message. See README(https://goo.gl/6BKBk7) for more. &ndash;&gt;
           <meta-data
               android:name="com.google.firebase.messaging.default_notification_color"
               android:resource="@color/colorAccent" />

           <meta-data
               android:name="com.google.firebase.messaging.default_notification_channel_id"
               android:value="@string/default_notification_channel_id" />-->


    </application>

</manifest>