<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.playdate.app">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or finelk
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="com.example.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.PlayDate"
        android:usesCleartextTraffic="true">
        <!--  <activity android:name=".business.couponsGenerate.dialogs.DialogCouponCreated" />-->
        <activity android:name=".business.chooselevel.ChooseLevelActivity" />
        <!-- <activity android:name=".business.couponsGenerate.DialogCouponsGenerater" />-->
        <activity android:name=".business.businessphoto.BusinessUploadPhotoActivity" />
        <activity android:name=".business.businessbio.BusinessBioActivity" />
        <activity android:name=".business.startdate.BusinessStartingDateActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <!--
        <activity
            android:name=".ui.date.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
        -->
        <!-- fb start -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!--
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        -->
        <!-- fb end -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.my.package.name.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.date.DateBaseActivity" />
        <activity
            android:name=".ui.anonymous_question.AnonymousQuestionActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.card_swipe.FullScreenView"/>
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".util.customcamera.otalia.GameCamera" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".couple.ui.register.coupleusername.CoupleUserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".couple.ui.register.couplebio.CoupleBioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".couple.ui.register.coupleprofile.CoupleUploadProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".couple.ui.register.connect.ConnectYourPartner"
            android:screenOrientation="portrait" />
        <activity
            android:name=".couple.ui.register.invitecode.InviteCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".couple.ui.register.invitepartner.InvitePartnerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".couple.ui.register.invitesent.InviteSentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.otp.OTPActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.relationship.RelationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.age_verification.AgeVerifiationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.interestin.InterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.username.UserNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.bio.BioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.interest.InterestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.playvideo.ExoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.profile.UploadProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.forgot_password.ForgotPasswordActivity"
            android:screenOrientation="portrait"

            />
        <!--        <activity-->
        <!--            android:name=".ui.onboarding.GetStarted"-->
        <!--            android:screenOrientation="portrait" />-->
        <activity
            android:name=".util.image_crop.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".business.dashboard_business.DashboardBusiness"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.chat.MapActivity"

            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.ImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.coupons.ActivityCoupons"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.chat.request.ChatBaseActivity"
            android:screenOrientation="portrait" /> <!-- <activity -->
        <!-- android:name=".ui.chat.ChatActivity" -->
        <!-- android:screenOrientation="portrait" /> -->
        <!--        <activity android:name=".ui.SampleActivity" />-->
        <activity
            android:name=".util.customcamera.otalia.VideoPreviewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".util.customcamera.otalia.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.restaurant.RestaurantActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.anonymous_question.AnoQuesCreateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.social.upload_media.PostMediaActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.register.usertype.UserTypeSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.register.gender.GenderSelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.invite.InviteFriendActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.blockuser.BlockUserActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".util.photoview.PhotoViewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".util.common.BaseActivity" />
        <activity
            android:name=".ui.chat.ChatMainActivity"
            android:screenOrientation="portrait" />


        <!--        <activity android:name=".videocall.activities.LoginActivity">-->

        <!--        </activity>-->

        <activity android:name=".videocall.activities.BaseActivity"
            android:screenOrientation="portrait"
            >

        </activity>
        <!--        <activity-->
        <!--            android:name=".videocall.activities.OpponentsActivity"-->
        <!--            android:configChanges="keyboardHidden|screenSize|orientation"-->
        <!--            android:launchMode="singleTask"-->
        <!--            android:screenOrientation="portrait" />-->


        <activity
            android:name=".videocall.activities.PermissionsActivity"
            android:screenOrientation="portrait" />


        <!--        <activity-->
        <!--            android:name=".videocall.activities.SettingsActivity"-->
        <!--            android:configChanges="keyboardHidden|screenSize|orientation"-->
        <!--            android:screenOrientation="portrait" />-->

        <activity
            android:name=".videocall.activities.CallActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".videocall.services.LoginService" />

        <service android:name=".videocall.services.CallService" />

        <service android:name=".service.LocationService" /> <!-- <receiver android:name=".broadcast.ConnectionBroadcastReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <service
            android:name=".ui.social.videoplay.AAH_DownloadService"
            android:exported="false" /> <!-- FireBase -->
        <service
            android:name=".service.FcmMessageService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/playdate_pink" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />


        <meta-data
            android:name="com.quickblox.messages.QB_ENVIRONMENT"
            android:value="DEVELOPMENT" />

        <meta-data
            android:name="com.quickblox.messages.TYPE"
            android:value="GCM" />

        <meta-data
            android:name="com.quickblox.messages.SENDER_ID"
            android:value="@string/sender_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>